@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Coffee Shop!</h1>

    <p class="lead">To order online please sign in to first create an account.</p>
    <p><a href="~/Home/SignUp">Sign Up &raquo;</a></p>
</div>

