@model List<Product>

@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>

<a class="nav-item" asp-action="AddProduct" asp-controller="Admin">
    Add Product
</a>
<br />
<br />


@foreach (Product prod in Model)
{@prod.Name
<a class="nav-item" asp-action="DeleteProduct" asp-controller="Admin" asp-route-id=@prod.id>
    Delete
</a>
<a class="nav-item" asp-action="UpdateProduct" asp-controller="Admin" asp-route-id=@prod.id>
    Edit
</a>


<br />

}


